#bcLogin #bcLoginFloating {
    width: 30%;
    padding: 20px
}

#bcLogin #bcLoginFloating #bcLoginHeader img {
    height: 150px
}

@media screen and (max-width: 720px){

    #bcLogin #bcLoginFloating {
        width: 100%
    }

    #bcLogin #bcLoginFloating #bcLoginHeader img {
        height: 100px;
    }

}